@import url("reset.css") screen;
@import url("animation.css") screen;

/* Common */

body {
background: #eeeeee;
font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;
font-size:100%;
line-height:1.5;
-webkit-text-size-adjust:none;
color: #1b1b1b;
}

h1 {
font-size:1.25em;
color:#ffffff;
font-weight:normal;
}

h2 {
font-size:1.15em;
color:#ffffff;
font-weight:normal;
}

a {
color:#E44D26;
text-decoration:none;
}

header, footer {
background: #000000;
background: -moz-linear-gradient(top, #303130 0%, #000101 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303130), color-stop(100%,#000101));
-webkit-box-shadow: 0 0 5px #42403f;
-moz-box-shadow: 0 0 5px #42403f;
box-shadow: 0 0 5px #42403f;
padding:2%;
}

header {
border-bottom: 1px solid #000000;
}

footer {
border-top: 0px solid #000000;
text-align:center;
padding: 1%;
}

footer p {
color:#ffffff;
font-size:0.6875em;
}

/* Navigation Bar */
nav#menu{
    font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;
    font-size:1.10em;
    color:#ffffff;
    border: solid #ccc;
    font-weight:normal;
    border-width: 1px 0;
    list-style:none;
    margin:15px;
    padding:0px;
    text-align:center;
}

nav#menu ul{
    margin: 10px

}

nav#menu li{
    display: inline;
    background-color: #1b1b1b;
    border-bottom: 5px solid #E44D26;
    width: 180px;
    height: 30px;
    margin: 2px;
}

nav#menu a{
    color: #fff;
    display: inline-block;
    font-weight: normal;
    line-height: 50px;
    width: 180px;
    height: 50px;
    padding: 10px;
    text-decoration: none;
}

nav#menu li.active, nav#menu li:hover {
    background-color: #E44D26;
    border-bottom: 5px solid #000000;
}

/* LAYOUT */
.container {
	margin:0 auto;
	overflow:hidden;
	width:960px;
}

/* CONTENT SLIDER */
#content-slider {
	width:100%;
	height:360px;
	margin:10px auto 0;
}

/* SLIDER */
#slider {
	background:#000;
	border:5px solid #eaeaea;
	box-shadow:1px 1px 5px rgba(0,0,0,0.7);
	height:320px;
	width:680px;
	margin:10px auto 0;
	overflow:visible;
	position:relative;
}
#mask {
	overflow:hidden;
	height:320px;
}
#slider ul {
	margin:0;
	padding:0;
	position:relative;
}
#slider li {
	width:680px;
	height:320px;
	position:absolute;
	top:-325px;
	list-style:none;
}

#slider li.firstanimation {
	-moz-animation:cycle 25s linear infinite;	
	-webkit-animation:cycle 25s linear infinite;		
}
#slider li.secondanimation {
	-moz-animation:cycletwo 25s linear infinite;
	-webkit-animation:cycletwo 25s linear infinite;		
}
#slider li.thirdanimation {
	-moz-animation:cyclethree 25s linear infinite;
	-webkit-animation:cyclethree 25s linear infinite;		
}
#slider li.fourthanimation {
	-moz-animation:cyclefour 25s linear infinite;
	-webkit-animation:cyclefour 25s linear infinite;		
}
#slider li.fifthanimation {
	-moz-animation:cyclefive 25s linear infinite;
	-webkit-animation:cyclefive 25s linear infinite;		
}

/* se vai sopra col mouse si ferma */
#slider:hover li,
#slider:hover .progress-bar {
	-moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
}

/* PROGRESS BAR */
.progress-bar {
	position:relative;
	top:-5px;
	width:680px; 
	height:5px;
	background:#000;
	-moz-animation:fullexpand 25s ease-out infinite;
	-webkit-animation:fullexpand 25s ease-out infinite;
}